#map {
  height: 400px;
  width: 400px;
}

.photo-slider {
  width: 560px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.photo-slider-wrapper {
  font-size: 0;
  padding: 0;
}

.photo-slider-entry {
  list-style: none;
  font-size: 0;
  display: inline-block;
  width: 560px;
  max-width: 100%;
}

.photo-slider-entry img {
  max-width: 100%;
}

.photo-slider-nav {
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
}

.expanded-paragraph {
  margin-top: 30px;
  margin: 30px 100px;
}

.mobile-card {
  margin: 8% 8%;
  padding: 8% 8%;
  text-align: center;
}

.mobile-card img {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 8%;
}

.mobile-card .logo {
  max-width: 40%;
  margin-left: 20%;
  margin-right: 20%;
}

.mobile-card .bottom {
  margin-bottom: 100px;
}

.expanded-card {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 30px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.expanded-project {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 150px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 3em;
  font-family: 'Kanit', sans-serif;
  color: White;
}

h5 {
  font-size: 400px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

p {
  font-size: 17px;
  font-family: 'Asap', sans-serif;
  color: white;
}

html {
  height: 100%;
}

#form {
  color: black;
  border-radius: 5px;
  width: 400px;
  padding: 40px;
}

.contact {
  padding: 5% 10%;
  height: 100%;
}

.contact-background {
  background-image: url("/img/contactb.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.row {
  width: 100%;
}

.question {
  position: relative;
}

.question-box-r {
  color: #00ace6;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  margin-right: 25px;
}

.question-box-l {
  color: #0070bf;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  margin-left: 25px;
}

.contact-form {
  max-width: 750px;
  margin-top: calc(32vh - 7%);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
}

textarea {
  height: 100px;
}

.splash-background {
  background-image: url("/img/skylinetest-01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.button {
  color: white;
  padding-right: 10px;
}

.inline-block {
  display: inline-block;
}

.navItem-mobile {
  display: block;
}

.navItem {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  cursor: pointer;
  z-index: 100;
}

.navItem h2 {
  font-size: 38px;
}

.navItem span.text,
i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  color: #3c3c3e;
  text-transform: uppercase;
  text-align: center;
}

.navItem.navItemNewsBlog {
  width: 100%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navItem.navItemNewsBlog .navlink {
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navItem.navItemNewsBlog .navlink:hover {
  -webkit-transform: scale(1.5) translateX(-120px) translateY(-10px);
          transform: scale(1.5) translateX(-120px) translateY(-10px);
}

.navItem.navItemNewsBlog .navlink:hover h2 {
  color: #00ace6;
}

.navItem.navItemNewsBlog .navlink:focus {
  -webkit-transform: scale(1.2) translateX(-115px) translateY(-10px);
          transform: scale(1.2) translateX(-115px) translateY(-10px);
  outline: none;
}

.navItem.navItemNewsBlog .navlink:focus h2 {
  color: #0070bf;
}

.navItem.navItemNewsBlog .navlink h2 {
  display: inline-block;
  margin: 0 10px;
}

.navItem.navItemContact {
  right: 0px;
  left: auto;
  height: 100%;
  width: 62px;
}

.navItem.navItemContact .navlink {
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navItem.navItemContact .navlink:hover {
  -webkit-transform: scale(1.5) translateX(-25px) translateY(-95px);
          transform: scale(1.5) translateX(-25px) translateY(-95px);
}

.navItem.navItemContact .navlink:hover h2 {
  color: #00ace6;
}

.navItem.navItemContact .navlink:focus {
  -webkit-transform: scale(1.2) translateX(-25px) translateY(-115px);
          transform: scale(1.2) translateX(-25px) translateY(-115px);
  outline: none;
}

.navItem.navItemContact .navlink:focus h2 {
  color: #0070bf;
}

.navItem.navItemContact .navlink h2 {
  display: inline-block;
  margin: 0 10px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.navItem.navItemProjects {
  bottom: 0px;
  top: auto;
  width: 100%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navItem.navItemProjects .navlink {
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navItem.navItemProjects .navlink:hover {
  -webkit-transform: scale(1.5) translateX(-50px) translateY(-20px);
          transform: scale(1.5) translateX(-50px) translateY(-20px);
}

.navItem.navItemProjects .navlink:hover h2 {
  color: #00ace6;
}

.navItem.navItemProjects .navlink:focus {
  -webkit-transform: scale(1.2) translateX(-55px) translateY(-20px);
          transform: scale(1.2) translateX(-55px) translateY(-20px);
  outline: none;
}

.navItem.navItemProjects .navlink:focus h2 {
  color: #0070bf;
}

.navItem.navItemProjects .navlink h2 {
  display: inline-block;
  margin: 0 10px;
}

.navItem.navItemAbout {
  bottom: 0px;
  top: auto;
  height: 100%;
  width: 62px;
}

.navItem.navItemAbout .navlink {
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navItem.navItemAbout .navlink:hover {
  -webkit-transform: scale(1.5) translateY(-85px);
          transform: scale(1.5) translateY(-85px);
}

.navItem.navItemAbout .navlink:hover h2 {
  color: #00ace6;
}

.navItem.navItemAbout .navlink:focus {
  -webkit-transform: scale(1.2) translateY(-85px);
          transform: scale(1.2) translateY(-85px);
  outline: none;
}

.navItem.navItemAbout .navlink:focus h2 {
  color: #0070bf;
}

.navItem.navItemAbout .navlink h2 {
  display: inline-block;
  margin: 0 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navItem.navItemback-l {
  bottom: 0px;
  top: auto;
  height: 100%;
  width: 62px;
}

.navItem.navItemback-l .navlink {
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navItem.navItemback-l .navlink:hover {
  -webkit-transform: scale(1.5) translateY(-55px);
          transform: scale(1.5) translateY(-55px);
}

.navItem.navItemback-l .navlink:hover h2 {
  color: #00ace6;
}

.navItem.navItemback-l .navlink:focus {
  -webkit-transform: scale(1.2) translateY(-60px);
          transform: scale(1.2) translateY(-60px);
  outline: none;
}

.navItem.navItemback-l .navlink:focus h2 {
  color: #0070bf;
}

.navItem.navItemback-l .navlink h2 {
  display: inline-block;
  margin: 0 10px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.navItem.navItemback-r {
  right: 0px;
  left: auto;
  height: 100%;
  width: 62px;
}

.navItem.navItemback-r .navlink {
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navItem.navItemback-r .navlink:hover {
  -webkit-transform: scale(1.5) translateX(-25px) translateY(-60px);
          transform: scale(1.5) translateX(-25px) translateY(-60px);
}

.navItem.navItemback-r .navlink:hover h2 {
  color: #00ace6;
}

.navItem.navItemback-r .navlink:focus {
  -webkit-transform: scale(1.2) translateX(-25px) translateY(-60px);
          transform: scale(1.2) translateX(-25px) translateY(-60px);
  outline: none;
}

.navItem.navItemback-r .navlink:focus h2 {
  color: #0070bf;
}

.navItem.navItemback-r .navlink h2 {
  display: inline-block;
  margin: 0 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:nth-child(1) {
  -webkit-transform: translateY(-15vh);
  transform: translateY(-15vh);
}

.background:nth-child(1) .content-wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}

/* Set stacking context of parallaxes */

.background:nth-child(1) {
  z-index: 10;
}

.background:nth-child(2) {
  z-index: 9;
}

.background:nth-child(3) {
  z-index: 8;
}

.background:nth-child(4) {
  z-index: 7;
}

.background:nth-child(5) {
  z-index: 6;
}

.background:nth-child(6) {
  z-index: 5;
}

.background:nth-child(7) {
  z-index: 4;
}

.background:nth-child(8) {
  z-index: 3;
}

.background:nth-child(9) {
  z-index: 2;
}

.background:nth-child(10) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
  transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}

.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
  transform: translate3d(0, 30vh, 0);
}

.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
  transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
  transform: translateY(40vh);
}

.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
  transform: translate3d(0, -15vh, 0);
}

.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}

.paraWrapper {
  width: 75%;
  height: 100vh;
  overflow: visible;
  -webkit-transform: translateY(40vh);
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.paraWrapper .content-card {
  position: absolute;
  padding: 15px 30px;
  display: inline-block;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}

.paraWrapper .content-card h4 {
  width: 250px;
}

.paraWrapper #c1,
.paraWrapper #c2,
.paraWrapper #c3,
.paraWrapper #c4,
.paraWrapper #c5,
.paraWrapper #c6,
.paraWrapper #c7,
.paraWrapper #c8,
.paraWrapper #c9,
.paraWrapper #c10 {
  width: 500px;
  height: 300px;
  position: absolute;
}

.paraWrapper #b1,
.paraWrapper #b2,
.paraWrapper #b3,
.paraWrapper #b4,
.paraWrapper #b5,
.paraWrapper #b6,
.paraWrapper #b7,
.paraWrapper #b8,
.paraWrapper #b9,
.paraWrapper #b10 {
  background-color: transparent;
  width: 650px;
  height: 397px;
}

.paraWrapper #b1 img,
.paraWrapper #b2 img,
.paraWrapper #b3 img,
.paraWrapper #b4 img,
.paraWrapper #b5 img,
.paraWrapper #b6 img,
.paraWrapper #b7 img,
.paraWrapper #b8 img,
.paraWrapper #b9 img,
.paraWrapper #b10 img {
  position: relative;
  float: right;
  left: -70px;
  bottom: -325px;
  z-index: 99;
  width: 245px;
  opacity: 1.0;
  -webkit-box-shadow: -11px 13px 82px -2px rgba(0, 0, 0, 0.75);
          box-shadow: -11px 13px 82px -2px rgba(0, 0, 0, 0.75);
}

.paraWrapper #a1,
.paraWrapper #a2,
.paraWrapper #a3,
.paraWrapper #a4,
.paraWrapper #a5,
.paraWrapper #a6,
.paraWrapper #a7,
.paraWrapper #a8,
.paraWrapper #a9,
.paraWrapper #a10 {
  width: 540px;
  height: 389px;
  background-color: transparent;
}

.paraWrapper #a1 img,
.paraWrapper #a2 img,
.paraWrapper #a3 img,
.paraWrapper #a4 img,
.paraWrapper #a5 img,
.paraWrapper #a6 img,
.paraWrapper #a7 img,
.paraWrapper #a8 img,
.paraWrapper #a9 img,
.paraWrapper #a10 img {
  position: relative;
  float: right;
  left: -30px;
  bottom: 137px;
  z-index: 99;
  height: 55px;
  opacity: 1.0;
}

.paraWrapper #icon {
  width: 10%;
}

.navigation-list {
  position: fixed;
  text-align: right;
  z-index: 98;
  top: 50%;
  right: 0;
  list-style: none;
  width: 450px;
  text-decoration: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation-list li {
  -webkit-transition: background 0.3s ease, -webkit-transform 0.3s ease;
  transition: background 0.3s ease, -webkit-transform 0.3s ease;
  transition: background 0.3s ease, transform 0.3s ease;
  transition: background 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  color: white;
  text-decoration: none;
}

.navigation-list li:hover {
  -webkit-transform: scale(1.5) translate(-15%);
          transform: scale(1.5) translate(-15%);
}

.navigation-list li a {
  text-decoration: none;
}

.navigation-list li a:hover {
  color: #00ace6;
}

.navigation-list li a:focus {
  color: #0070bf;
  -webkit-transform: scale(1.2) translate(-7%);
          transform: scale(1.2) translate(-7%);
  outline: none;
}

.active {
  color: #0070bf;
  -webkit-transform: scale(1.2) translate(-7%);
          transform: scale(1.2) translate(-7%);
}

.butn {
  padding-top: 50px;
  text-align: center;
  border-radius: 7px;
  padding: 10px 30px;
  font-size: 22px;
  font-weight: bold;
  color: #262626;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 0;
  position: relative;
  bottom: -40px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 0px 0px #e2e2e2;
          box-shadow: 0px 4px 0px 0px #e2e2e2;
}

.butn:hover {
  background-color: #c6c6c6;
  -webkit-box-shadow: 0px 4px 0px 0px #9b9b9b;
          box-shadow: 0px 4px 0px 0px #9b9b9b;
  border: none;
  outline: none;
}

.butn:focus {
  border: none;
  outline: none;
}

.butn:active {
  -webkit-box-shadow: 0px 2px 0px 0px #9b9b9b;
          box-shadow: 0px 2px 0px 0px #9b9b9b;
  border: none;
  outline: none;
}

.expanded-b {
  display: inline-block;
  list-style: none;
  margin: 20px 0.25rem;
  text-decoration: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.butn-blue {
  color: white;
  padding-top: 50px;
  text-align: center;
  border-radius: 7px;
  padding: 10px 30px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 0;
  position: relative;
  background-color: #00ace6;
  -webkit-box-shadow: 0px 4px 0px 0px #0070bf;
          box-shadow: 0px 4px 0px 0px #0070bf;
}

.butn-blue:hover {
  background-color: #0070bf;
  -webkit-box-shadow: 0px 4px 0px 0px #014a7f;
          box-shadow: 0px 4px 0px 0px #014a7f;
  border: none;
  outline: none;
}

.butn-blue:focus {
  border: none;
  outline: none;
}

.butn-blue:active {
  -webkit-box-shadow: 0px 2px 0px 0px #014a7f;
          box-shadow: 0px 2px 0px 0px #014a7f;
  border: none;
  outline: none;
}

.titles-container {
  height: 68%;
}

.titles-expanded {
  height: auto;
}

.navigation-list-entries {
  color: white;
  font-size: 2em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 5%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

.logo-container {
  padding-top: calc(32vh - 130px);
  margin-left: -1%;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.logo-container h4 {
  margin: 0px,0px;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

.mobile-links a h4 {
  margin: 10px 0px 10px 0;
  text-align: center;
  font-size: 13vw;
  text-transform: uppercase;
}

.mobile-links a h4:focus,
.mobile-links a h4:hover,
.mobile-links a h4:focus {
  color: #0070bf;
  text-decoration: none;
  border: none;
  outline: none;
}

.divider {
  border: solid 4px grey;
  border-radius: 4px;
}

.logo-container-mobile {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}

.logo-container-mobile h4 {
  margin: 0px,0px;
  text-align: center;
  font-size: 10vw;
  text-transform: uppercase;
}

.card {
  pointer-events: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background-image: url("/img/logo1.png");
  background-size: 15%;
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: 30px auto 30px auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card:after {
  content: " ";
  position: absolute;
  width: 25em;
  height: 17px;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
}

.card2 {
  pointer-events: none;
  -webkit-transform: translateZ(80px);
          transform: translateZ(80px);
  background-image: url("/img/logo2.png");
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card2:after {
  content: " ";
  position: absolute;
  width: 25em;
  height: 17em;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
}

.card3 {
  pointer-events: none;
  -webkit-transform: translateZ(80px);
          transform: translateZ(80px);
  background-image: url("/img/logo3.png");
  border-radius: 5px;
  width: 25em;
  height: 17em;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card3:after {
  content: " ";
  position: absolute;
  width: 25em;
  height: 17em;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
}

.about-header {
  font-size: 3em;
  margin: 10px 80px;
  width: 55%;
  color: #00ace6;
}

.about-body {
  padding: 0 80px;
  width: 55%;
  color: white;
}

#watch {
  font-size: 1em;
  position: relative;
}

#watch .frame-face {
  position: relative;
  width: 30em;
  height: 30em;
  margin: 2em auto;
  border-radius: 15em;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#666));
  background: linear-gradient(to bottom, #f9f9f9, #666);
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0.5em 0.5em 4em;
          box-shadow: rgba(0, 0, 0, 0.8) 0.5em 0.5em 4em;
}

#watch .frame-face:before {
  content: '';
  width: 29.4em;
  height: 29.4em;
  border-radius: 14.7em;
  position: absolute;
  top: .3em;
  left: .3em;
  background: linear-gradient(135deg, rgba(246, 248, 249, 0) 0%, #e5ebee 50%, #cdd4d9 51%, rgba(245, 247, 249, 0) 100%), radial-gradient(ellipse at center, #f6f8f9 0%, #e5ebee 65%, #cdd4d9 66%, #f5f7f9 100%);
}

#watch .frame-face:after {
  content: '';
  width: 28em;
  height: 28em;
  border-radius: 14.2em;
  position: absolute;
  top: .9em;
  left: .9em;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0.2em 0.2em 1em;
          box-shadow: inset rgba(0, 0, 0, 0.2) 0.2em 0.2em 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  background: linear-gradient(to bottom, #fff, #ccc);
}

